<!DOCTYPE html>
<html>
<head>
    <title>Protected Path ORAM</title>
</head>
<body style="font-family:sans-serif; padding:20px;">
    <h2>Protected View File Accessing</h2>

    <div>
        {% for i in range(6) %}
            <a href="/access/protected/{{ i }}">
                <div style="display:inline-block; margin:10px; background:#ddd; padding:10px; text-align:center;">
                    File_{{ i + 1 }}.pdf
                </div>
            </a>
        {% endfor %}
    </div>

    <div style="margin-top:30px;">
        <strong>API Calls</strong><br>
        {% for log in logs %}
            [INFO] {{ log.time }} | AccessType: {{ log.access_type }} | LogicalBlock: {{ log.block_id }} | Path: P(x={{ log.path }}) | Latency: {{ log.latency }} sec<br>
        {% endfor %}
    </div>

    <form action="/clear_logs/protected" method="get">
      <button type="submit">🧹 Clear Logs</button>
    </form>


    <p><a href="/">⬅ Back to Home</a></p>
</body>
</html>
